.main img{
    width:100%;
}

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
.modal .container{
    width:400px;
    height:300px;
    border:grey solid;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    color:blue;
}
.modal .container .close{
    color:red;
    width:15px;
    border:2px red solid;
    border-radius: 50%;
    text-align: center;
    position:absolute;
    right:-10px;
    top:-10px;
}
.modal .container .close:hover{
    cursor:pointer;

}