.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.douban-time a:link{
    color:#37a;
}
.douban-time a:visited{
    color:#669;
}
.douban-time a:hover{
    color:#fff;
    background: #37a;
}
.douban-time a:active{
    background: #f93;
    color:#fff;
}
.hot a:link{
    color:#37a;
}
.hot a:visited{
    color:#669;
}
.hot a:hover{
    color:#fff;
    background: #37a;
}
.hot a:active{
    background: #f93;
    color:#fff;
}
